* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.margin-large {
    padding-right: 20rem;
    padding-left: 20rem;
    margin-top: 6rem;
}

.margin-narrow {
    padding-left: 18rem;
    padding-right: 18rem;
}

button.blue {
    background-color: #0061ff;
    color: white;
    padding: 1rem;
    border: none;
}

button.white {
    padding: 1rem;
    border: solid 1px black;
    background-color: white;
}

h3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 22px;
}

/* Da qui inizia l'header */
.nav-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}

.logo {
    margin-right: 2rem;
}

.nav-header > ul{
    list-style-type: none;
    display: flex;
    align-items: center;
}

.nav-header ul li {
    padding-right: 1.5rem;
}

.button-header {
    background-color: #0061ff;
    color: white;
    border: none;
    width: 4rem;
    height: 2rem;
}

.jumbo {
    margin-top: 1rem;
    background-color: #b4d0e7;
    height: 115vh;
}

.jumbo > h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
}

.jumbo > div {
    display: flex;
    flex-direction: row;
    position: relative;
}

.text-jumbo p {
    padding-right: 37rem;
    margin-bottom: 2rem;
}

.text-jumbo > button.blue {
    background-color: #0061ff;
    color: white;
    padding: 1rem;
    border: none;
    margin-bottom: 2rem;
}

.paragraph-jumbo > img {
    position: absolute;
    left: 22rem;
    width: 80%;
}

.icon-jumbo {
    font-size: 3rem;
}
/* qui finisce l'header */

/* Da qui inizia il main */
.section-title {
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-size: 2.5rem;
}

label {
    padding-right: 2rem;
}

.multiple-choice {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.choices {
    display: flex;
    flex-direction: row;
}

.choices > section {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
    border: 1px solid black;
    margin-bottom: 2rem;
    padding: 1rem 1rem 3rem 1rem;
    line-height: 1rem;
    font-size: 15px;
}

.icon-choices {
    padding: 0.5rem 1rem;
    text-align: center;
}

.euro-choices {
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 1rem;
}

.payment-choices {
    color: grey;
    font-size: 13px;
    padding-bottom: 3rem;
}

.offer-choices {
    padding-top: 1rem;
}

.button-choices {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.buy-choices {
    margin-bottom: 2rem;
}

.advantages-choices {
    font-weight: bold;
    margin-top: 2rem;
}

.check {
    color: rgb(32, 160, 203);
}

.last-team {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

.sales-button {
    width: 33%;
}

.partner {
    display: flex;
    flex-direction: row;
    margin-top: 6rem;
}

.partner > img {
    width: 60%;
}

.paragraph-partner {
    margin-left: 2rem;
}

.text-partner, .text-card {
    margin-bottom: 2rem;
}

.first-cards, .second-cards {
    display: flex;
    flex-direction: row;
}

.first-cards {
    margin-bottom: 2rem;
}

.second-cards {
    margin-bottom: 7rem;
}

.first-cards > article, .second-cards > article {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}

.second-cards article img, .first-cards article img {
    width: 18rem;
}

.second-cards article p, .first-cards article p {
    padding-right: 1rem;
}

.clients {
    display: flex;
    margin-top: 5rem;
}

.column {
    display: flex;
    flex-direction: column;
    width: 16vw;
    height: 85vh;
}
.flex-grow > img {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    filter: brightness(0) invert(1);
    align-items: stretch;
    transform: translate(0%, -50%);
    transform: translate(-50%, -50%);
}

.flex-grow {
    flex-grow: 1;
    position: relative;
}

.green {
    background-color: #a2d39b;
}

.blue {
    background-color: #0093ce;
}

.purple {
    background-color: #61082b;
}

.light-red {
    background-color: #ff1c1c;
}

.different-column {
    width: 35vw;
    background-color:#f5f5f5;
}

.grey {
    background-color: #f5f5f5;
    flex-grow: 2;
    padding: 2rem;
}

.grey > img {
    width: 55%;
}

.grey > p {
    padding-top: 2rem;
}

.dark-red {
    background-color: #d5001f;
}

.indigo {
    background-color: #0d2481;
}

.light-blue {
    background-color: #b4d0e7;
}

.yellow {
    background-color: #ffd830;
}

.clients-footer {
    display: flex;
    background-color: #b4d0e7;
    color: #61082b;
    align-items: baseline;
    padding: 6rem 20rem;
}

.clients-footer > h2 {
    width: 34rem;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.clients-footer > button {
    background-color: white;
    color: black;
    border: none;
    width: 17rem;
    margin: auto;
    height: 2rem;
}

.box-questions {
    margin-top: 8rem;
}

.question {
    display: flex;
    justify-content: space-between;
}

.question-icon {
    padding-right: 4rem;
}

h4, .question-icon {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
/* qui finisce il main */

/* Da qui inizia il footer */
.nav {
    display: flex;
    flex-direction: row;
    margin-top: 10rem;
    background-color: black;
    color: white;
    padding-top: 4rem;
    padding-bottom: 6rem;
}

.nav-footer nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-right: 2rem;
}

.nav-footer nav ul li {
    padding-bottom: 1rem;
}

.nav-footer h3 {
    padding-bottom: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 22px;
}

.language {
    background-color: black;
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
/* qui finisce il footer */