* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ul-top-header {
    list-style-type: none;
    display: flex;
}

.img-top-header {
    margin-right: 2rem;
}

.li-top-header  {
    padding-right: 2rem;
}

.nav-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}

.jumbotron {
    margin-top: 1rem;
    background-color: #b4d0e7;
    height: 560px;
}

.paragraph-jumbotron {
    display: flex;
    flex-direction: row;
    position: relative;
}

.img-partner {
    width: 60%;
}

.img-jumbotron {
    position: absolute;
    left: 22rem;
    width: 73%;
}

h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
}

.text-jumbotron, .text-partner, .text-card {
    margin-bottom: 2rem;
}

.text-jumbotron {
    padding-right: 37rem;
}

button.blue {
    background-color: #0061ff;
    color: white;
    padding: 1rem;
    border: none;
}

button.white {
    padding: 1rem;
    border: solid 1px black;
    background-color: white;
}

.icon-jumbotron {
    margin-top: 1rem;
    font-size: 2rem;
}

.margin-large {
    padding-right: 20rem;
    padding-left: 20rem;
    margin-top: 6rem;
}

.margin-small {
    padding-left: 18rem;
    padding-right: 18rem;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.multiple-choice {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

label {
    padding-right: 2rem;
}

.choices, .clients-paragraph {
    display: flex;
    flex-direction: row;
}

.team {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
    border: 1px solid black;
    margin-bottom: 2rem;
    padding: 1rem 1rem 3rem 1rem;
    line-height: 1rem;
    font-size: 15px;
}

.icon-choices {
    padding: 0.5rem 1rem;
    text-align: center;
}

.last-team {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

.prova {
    width: 33%;
}

.type-choices {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 22px;
}

.euro-choices {
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 1rem;
}

.payment-choices {
    color: grey;
    font-size: 13px;
    padding-bottom: 3rem;
}

.offer-choices {
    padding-top: 1rem;
}

.button-choices {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.buy-choices {
    margin-bottom: 2rem;
}

.advantages-choices {
    font-weight: bold;
    margin-top: 2rem;
}

.check {
    color: rgb(32, 160, 203);
}

.partner {
    display: flex;
    flex-direction: row;
    margin-top: 6rem;
}

.paragraph-partner {
    margin-left: 2rem;
}

.first-cards, .second-cards {
    display: flex;
    flex-direction: row;
}

.card {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}

.img-first-cards, .img-second-cards {
    width: 18rem;
}

.first-cards {
    margin-bottom: 2rem;
}

.second-cards {
    margin-bottom: 4rem;
}

.text-card {
    padding-right: 1rem;
}

h4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.ul-nav-footer {
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
    list-style-type: none;
}

.navigator {
    display: flex;
    flex-direction: row;
    margin-top: 10rem;
    background-color: black;
    color: white;
    padding-top: 4rem;
}

.title-footer {
    padding-bottom: 1.5rem;
}

.li-footer {
    padding-bottom: 1rem;
}

.language {
    background-color: black;
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.logo-clients {
    display: flex;
    flex-direction: column;
}

.logo-first-row, .logo-second-row {
    display: flex;
    flex-direction: row;
}

.logo-first-row > img, 
.logo-second-row > img {
    width: 23%;
}
